/* Content.css */
.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #f0f0f0; /* Lighter gray background color */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column; /* Flex column layout */
}

.card:hover {
    transform: translateY(-5px);
}

.card p {
    margin: 10px 0; /* Added gap between paragraphs */
    color: #333;
}

.card p:first-child {
    font-weight: bold;
    font-size: 1.2rem;
}

.card-content {
    margin-bottom: 10px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
